.container{
    background-image: url(../../assets/mainbg.jpg);
    /* margin-top: 8rem; */
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap: 2.8rem;
}
.div1>:nth-child(1){
    text-align: center;
font-family: Poppins;
font-size: 65px;
font-weight: 500;
line-height: normal;
background: linear-gradient(180deg, #FFF 44.39%, #ED7638 74.27%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.div2{
    width: 80%;
}
.div2>:nth-child(1){
    color: var(--white, #FFF);
text-align: center;
text-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.40);
font-size: 20px;
font-weight: 500;
line-height: normal;
}

.contactbutton{
    display: flex;
    padding: 12px 26px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
border: 1px solid var(--light-orange, #F48A37);
background: var(--orage-liner, linear-gradient(180deg, #F48A37 51.04%, #ED7638 100%));
color: #FFF;
}

@media screen and (max-width:768px){

    .container{
        width: 100%;
        gap: 1.4rem;
    }
    .div1>:nth-child(1){
        font-size: 32px;
    }

}